<!DOCTYPE html>
<html>
  <head>
    <title>Change Me!</title>
  </head>

  <body>
    <main>
      <h1><%= @character.name %></h1>
      <p><%= @character.favorite_quote %></p>
    </main>
  </body>
</html>
