<!DOCTYPE html>
<html>
  <head>
    <title>Change Me!</title>
  </head>

  <body>
    <main>
      <h1><%= @hi %></h1>
      <% 5.times do %>
      <p><%= @message %></p>
      <% end %>
    </main>
  </body>
</html>
